language: php

php:
  - '5.5'
  - '5.6'
  - '7.0'
  - '7.1'

services:
  - mysql

sudo: true

before_script:
  - bash .travis.install-mysql-5.7.sh

before_install:
  - mysql -e 'CREATE DATABASE test;'

install: composer install
